@charset "UTF-8";

:root {
  --color-primary: #f3a712;
  --color-white: #fff;
  --color-black: #000;

  --box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
}

section nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

section nav .logo img {
  width: 10rem;
  cursor: pointer;
  margin: 0.7rem 0;
}

section nav ul {
  list-style: none;
}

section nav ul li {
  display: inline-block;
  margin: 0 1.5rem;
}

section nav ul li a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.7rem;
  font-weight: 500;
}

section nav ul li a::after {
  content: '';
  width: 0;
  height: 0.2rem;
  background-color: var(--color-primary);
  display: block;
  transition: 0.2s linear;
}

section nav ul li a:hover::after {
  width: 100%;
}

section nav ul li a:hover {
  color: var(--color-primary);
}
